Babel==2.8.0
decorator==4.4.2
gunicorn==20.0.4
h5py==2.10.0
jupyter==1.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.5
notebook==6.0.3
numpy==1.18.5
pandas==1.0.5
pandas-datareader==0.8.1
pandocfilters==1.4.2
pkginfo==1.5.0.1
scikit-learn==0.22.2.post1
fastapi==0.63.0
torch==1.7.1
torchvision==0.8.2
uvicorn==0.13.3